<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>
    <h2>MY BLOG</h2>
  </header>
  <div style="border: 1px solid rgb(99, 99, 235)" >
    <nav>
      <a href="">Inicio</a>
      <a href="author">Autor</a>
    </nav>
    <%-body %>
    <footer>
      <p>Pagina creada por Juan Miro</p>
    </footer>
  </div>
</html>