<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>
    <h2>MY BLOG</h2>
  </header>
  <div style="border: 1px solid rgb(99, 99, 235); padding: 50px;" >
    <nav style="border: 3px solid rgb(156, 255, 163); padding: 20px;">
      <a href="/">Inicio</a>
      <a href="author">Autor</a>
    </nav>
    <%- body %>
    <footer style="border: 3px solid rgb(255, 162, 156); padding: 3px;">
      <p>Pagina creada por Juan Miro</p>
    </footer>
  </div>
</html>